@tailwind base;
@tailwind components;
@tailwind utilities;

.font-header {
    font-family: "Pacifico";
}
.adding-border {
    border: 1px solid rgb(60, 60, 60);
}

.adding-border-white {
    border-top: 1px solid white;
    margin-top: 90px;
}
.button-border {
    border: 1px solid white;
}
.radius-form {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.display-none {
    display: none !important;
}
.radius-from-txt {
    border-radius: 25px;
    /* border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; */
}
.align-center-items {
    display: flex;
    align-items: center;
}
.border-radius-section {
    border-radius: 125px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid white;
}
.border-radius-section-sm {
    padding: 15px;
    border-radius: 60px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.border1pxw {
    border: 1px solid white;
}
.border1pxwb {
    border: 1px solid black;
}

.fixed-position {
    position: fixed !important;
    top: 5% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
